<p-dialog
  header="Upload Files"
  [(visible)]="visible"
  [modal]="true"
  [dismissableMask]="true"
  [style]="{width: '640px'}"
  appendTo="body"
  [baseZIndex]="10000"
>
  <div class="modal-content">
    <input #fileInput type="file" multiple class="d-none" (change)="onFileInput($event)" />

    <div class="drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
      <p class="drag-text">Drag & drop files here</p>
      <p class="or-text">or</p>
      <button class="btn btn-primary" (click)="fileInput.click()">
        <i class="ti ti-upload"></i>
        Browse files
      </button>
      <p class="help-text">No filetype restrictions. Select up to 10 files.</p>
    </div>

    <ng-template [ngIf]="selectedFiles.length > 0">
      <div class="files-list">
        <h4>Selected files ({{ selectedFiles.length }}):</h4>
        <ul>
          <ng-template ngFor let-file [ngForOf]="selectedFiles" [ngForTrackBy]="trackByName">
            <li class="file-item">
              <div class="file-info">
                <i class="ti ti-file"></i>
                <div class="file-details">
                  <span class="file-name">{{ file.name }}</span>
                  <span class="file-size">{{ (file.size / 1024) | number:'1.0-2' }} KB</span>
                </div>
              </div>
              <button class="remove-btn" (click)="removeFile(file.name)" [disabled]="isUploading"><i class="ti ti-x"></i></button>
            </li>
          </ng-template>
        </ul>
      </div>
    </ng-template>

    <ng-template [ngIf]="isUploading">
      <div class="progress-container">
        <div class="progress-label">Uploading {{ uploadProgress | number:'1.0-0' }}%</div>
        <p-progressBar [value]="uploadProgress" [showValue]="false"></p-progressBar>
      </div>
    </ng-template>

    <div class="actions">
      <button class="btn btn-primary" (click)="upload()" [disabled]="selectedFiles.length === 0 || isUploading">
        <ng-template [ngIf]="isUploading">
          <i class="ti ti-loader-2"></i>
          Uploading...
        </ng-template>
        <ng-template [ngIf]="!isUploading">
          <i class="ti ti-upload"></i>
          Upload
        </ng-template>
      </button>
      <button class="btn btn-secondary" (click)="close()" [disabled]="isUploading">
        <i class="ti ti-x"></i>
        Cancel
      </button>
    </div>
  </div>
</p-dialog>
